################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.lock
*.ide
*.ide-shm
*.ide-wal
